@()

<ul>
    <li>
        <a data-ui-sref="routes.route0" data-translate="menu.1.sub_menu.0.key"></a>
    </li>

    <li>
        <a data-ui-sref="routes.route1" data-translate="menu.1.sub_menu.1.key"></a>
    </li>

    <li>
        <a data-ui-sref="routes.route2" data-translate="menu.1.sub_menu.2.key"></a>
    </li>

    <li>
        <a data-ui-sref="routes.route3" data-translate="menu.1.sub_menu.3.key"></a>
    </li>

    <li>
        <a data-ui-sref="routes.route4" data-translate="menu.1.sub_menu.4.key"></a>
    </li>

    <li>
        <a data-ui-sref="routes.route5" data-translate="menu.1.sub_menu.5.key"></a>
    </li>

    <li>
        <a data-ui-sref="routes.route6" data-translate="menu.1.sub_menu.6.key"></a>
    </li>
</ul>

<div ui-view></div>