@()

<h2>{{ 'menu.0.sub_menu.2.key' | translate }}</h2>
<div>
    <form name="booking">

        <label>
            {{ 'menu.0.sub_menu.2.arrival_date' | translate}}
            <input id="arrivalDate" type="date" name="arrivalDate" data-ng-model="arrivalDate" />
        </label>

        <label>
            {{ 'menu.0.sub_menu.2.departure_date' | translate}}
            <input id="departureDate" type="date" name="departureDate" data-ng-model="departureDate" />
        </label>

        <label for="guests">
            {{ 'menu.0.sub_menu.2.guests' | translate}}
        </label>

        <select id="guests" name="guests" data-ng-model="guestNumber" data-ng-options="guest.value for guest in guests">
            <option value="">-- {{ 'menu.0.sub_menu.2.guests' | translate | lowercase}} --</option>
        </select>

        <button id="findButton" data-ng-click="find()">{{ 'menu.0.sub_menu.2.find_button' | translate}}</button>
    </form>

</div>