@()

<h2 data-translate="menu.0.sub_menu.0.key"></h2>
<div id="facilities">
    <p data-translate="menu.0.sub_menu.0.sections.0.description_1"></p>
    <ul>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.0.description_2.0.key"></p>
            <p data-translate="menu.0.sub_menu.0.sections.0.description_2.0.value"></p>
        </li>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.0.description_2.1.key"></p>
            <p data-translate="menu.0.sub_menu.0.sections.0.description_2.1.value"></p>
        </li>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.0.description_2.2.key"></p>
            <p data-translate="menu.0.sub_menu.0.sections.0.description_2.2.value"></p>
        </li>
    </ul>
    <p data-translate="menu.0.sub_menu.0.sections.0.description_3"></p>
</div>

<div id="room_facilities">
    <h3 data-translate="menu.0.sub_menu.0.sections.1.name"></h3>
    <ul>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.1.description_1.0"></p>
        </li>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.1.description_1.1"></p>
        </li>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.1.description_1.2"></p>
        </li>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.1.description_1.3"></p>
        </li>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.1.description_1.4"></p>
        </li>
    </ul>
</div>

<div id="common_areas">
    <h3 data-translate="menu.0.sub_menu.0.sections.2.name"></h3>
    <ul>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.2.description_1.0"></p>
        </li>
    </ul>
</div>

<div id="capacity">
    <h3 data-translate="menu.0.sub_menu.0.sections.3.name"></h3>
    <ul>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.3.description_1.0"></p>
        </li>
    </ul>
</div>

<div id="extra_services">
    <h3 data-translate="menu.0.sub_menu.0.sections.4.name"></h3>
    <ul>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.4.description_1.0"></p>
        </li>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.4.description_1.1"></p>
        </li>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.4.description_1.2"></p>
        </li>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.4.description_1.3"></p>
        </li>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.4.description_1.4"></p>
        </li>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.4.description_1.5"></p>
        </li>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.4.description_1.6"></p>
        </li>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.4.description_1.7"></p>
        </li>
        <li>
            <p data-translate="menu.0.sub_menu.0.sections.4.description_1.8"></p>
        </li>
    </ul>
</div>