$font-stack-size: 100%;
$primary-color: #333;





/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  /* Styles */
  body {
    font-size: $font-stack-size;
  }

  footer {
    float: left;
    width: 100%;
    padding: 1em 0em;
    font-size: 75%;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

  body {
    font-size: $font-stack-size;
  }

  img {
    width: 8%;
  }

  .location, #geoLocation {
    font-size: 70%;
  }

  h2 {
    font-size: 1.2em;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  body {
    font-size: $font-stack-size;
  }

  h2 {
    font-size: 1.1em;
  }

  .location, #geoLocation {
    font-size: 70%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  footer {
    float: left;
    width: 100%;
    padding: 1em 0em;
    font-size: 90%;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {

  body {
    font-size: $font-stack-size;
    width: 960px;
    margin: 20px auto 100px auto;
  }

  nav {
    width: 25%;
    float: left;
  }

  section {
    width: 74%;
    float: right;
  }

}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {

  img {
    width: 5%;
  }

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

  body {
    width: 960px;
    margin: 20px auto 100px auto;
  }

  h1 {
    font-size: 2em;
    font-family: "Lobster", cursive;
  }

  nav.main-menu {
    width: 100%;
    float: left;

    ul {
      display: table;
      width: 100%;
      list-style: none;

      //Specific for chrome
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-padding-start: 0em;

      li {
        border-style: solid;
        border-color: black;
        border-width: 2px 0px;
        padding: 1em;
        background-color: #f6e6b4;
        font-family: "Lobster", cursive;
      }
    }
  }


  img {
    width: 5%;
  }

  #documentation {
    font-family: "Lobster", cursive;
  }

  header {
    width: 100%;
  }

  footer {
    font-size: 90%;
  }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
  img {
    width: 5%;
  }
}


$border-hd-ft: 0.2em solid black;
$radius-hd-ft: 0.8em;

header {
  border: $border-hd-ft;
  border-radius: $radius-hd-ft;
  background: -webkit-linear-gradient(top, white 0%,#f6e6b4 100%);

  h1 {
    padding: 0.5em;
  }

  h2 {
    padding: 0em 1em;
  }
}


footer {
  background: #f6e6b4;
  border: $border-hd-ft;
  border-radius: $radius-hd-ft;
  padding: 1em;
  width: 100%;
  float: left;
}

aside.language {
  width:100%;
  float: left;

  ul {
    width: 100%;
    float: right;
    list-style: none;
  }
}

.info {
  margin: 1em 0em;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #f6e6b4;
  font-family: "Lobster", cursive;
  float: left;
  width: 100%;

    p {
      margin: 1em;
    }
}

.content {
  width:78%;
  float:right;
}


nav.home, nav.routes {
  width: 100%;
  float: left;

  ul {
    list-style: none;
    display: table;
    width: 100%;

    //Specific for chrome
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0em;

    li {
      border: 2px solid black;
      border-radius: 10px 10px 0px 0px;
      padding: 1em;
      background-color: #f6e6b4;
      font-family: "Lobster", cursive;

      display: table-cell;
      text-align: center;

      a {
        display: block;
      }
    }
  }
}

aside {
  width: 20%;
  float: left;
  margin: 0em 1em 0em 0em;
}
