@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@title</title>

        <!--<script src='@routes.Assets.at("/public/javascripts" , "requireJsConfigBuilder.js")'></script>-->
        <base href="/">
    </head>
    <body>
        <header>
            <h2>casa rural</h2>
            <h1>"las golondrinas"</h1>
        </header>
        <nav>
            <ul>
                <li>La Casa</li>
                <li>Rutas</li>
                <li>Comentarions</li>
                <li>Contacto</li>
            </ul>
        </nav>
        <aside>
            <p>
                <span>Casa rural "Las Golondrinas"</span>
                <span>C/ Caniego, 7</span>
                <span>C.P. 02630 Villalgordo del Júcar</span>
                <span>Albacete (España)</span>
                <span>Telefonos:</span>
            <p/>
            <ul>
                <li>ES: (+34) 629140953</li>
                <li>UK: (+44) 7412913632</li>
            </ul>
        </aside>
            @content
        <footer>
            @@ 2014 by <a href="http://javierrubiolarred.blogspot.co.uk/">Javier Rubio Larred</a>. All Rights Reserved.
        </footer>
        <script src='@routes.Assets.at("/public/javascripts", "requireJsConfigBuilder.js")'></script>
        <script data-main='@routes.Assets.at("/public/javascripts", "main")' src='@routes.Assets.at("/public/javascripts", "lib/requirejs/require.js")'></script>
    </body>
</html>
