@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@title</title>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("/public/stylesheets", "main.css")'>
        <!--<script src='@routes.Assets.at("/public/javascripts" , "requireJsConfigBuilder.js")'></script>-->
        <base href="/">
    </head>
    <body>
        @configuration_globals()

        <header>
            <h2>{{ 'contact_info.name' | translate }}</h2>
            <h1>"las golondrinas"</h1>
        </header>
        <main>
            @content
        </main>
        <footer>
            @@ 2015 by <a href="http://javierrubiolarred.blogspot.co.uk/">Javier Rubio Larred</a>. All Rights Reserved.
        </footer>
        <script src='@routes.Assets.at("/public/javascripts", "requireJsConfigBuilder.js")'></script>
        <script data-main='@routes.Assets.at("/public/javascripts", "main")' src='@routes.Assets.at("/public/javascripts", "lib/requirejs/require.js")'></script>
    </body>
</html>
